
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Home/Index</h1>

    <div>
       <form method="post">
            <div>
                <input type="text" name="Firstname" />
                
            </div>
            <div>
                <input type="text" name="Lastname" />
            </div>
            <div>
                <input type="text" name="Email" />
            </div>
            <button>Click</button>

       </form>
    </div>
</body>
</html>
