
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <!--Razor Engine: Html içerisinde C# kodlarını yazmamıza olanak sağlar-->
    <h1>Home/Contact</h1>
</body>
</html>
