@model List<AspNetCore_MVCModels.Models.Product>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Home/Index</h1>
   
   @* <h2>@Model.ID @Model.ProductName @Model.UnitPrice</h2> *@

    @foreach (AspNetCore_MVCModels.Models.Product p in Model)
    {
        <h2>@p.ProductName</h2>
    }


</body>
</html>
