
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>People</h1>

<ul>
    <!--_people içerisinde bulunan verileri ViewBag kullanarak listeleyin-->
</ul>

<hr />

<ul>
    <!--_category içerisinde bulunan verileri ViewData kullanarak listeleyin.-->
</ul>
