@model CategoryRequestModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="col-md-6 mx-auto">
    <form method="post">
        <div class="mb-2">
           <label asp-for="CategoryName"></label>
          
        </div>
        <div class="mb-2">
            <span asp-validation-for="CategoryName" class="text-danger"></span>
           <input type="text" asp-for="CategoryName" />
           
        </div>
        <button class="btn btn-primary" type="submit" >Create</button>
        <a href="/Category/Index" class="btn btn-primary">Back</a>
    </form>
</div>

