

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>
        Create Person
    </h1>
    <hr />

    <form method="post">
        <div>
            <input type="text" name="Firstname"/>
        </div>
        <div>
            <input type="text" name="Lastname" />
        </div>
        <div>
            <input type="text" name="Email" />
        </div>
        <button type="submit">Create Person</button>
    </form>
</body>
</html>
