@model List<AspNetCore_MVCPostBack.Models.Person>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/Person/Create">Create Person</a>
        <table border="1" width="100%">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>

            @if (Model.Count > 0)
            {
                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.Firstname</td>
                        <td>@person.Lastname</td>
                        <td>@person.Email</td>


                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">
                        <span>Herhangi bir kişi bulunamadı!</span>
                    </td>
                </tr>
            }



        </table>
    </div>
</body>
</html>
