

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <!--Navbar-->
    <nav>
        <h2>Navbar</h2>
    </nav>



    <div>
        @RenderBody()
    </div>






    <!--Footer-->
    <footer>
        <h2>Footer</h2>
    </footer>
</body>
</html>
